body {
  margin: 0;
  display: flex;
  font-family: "Helvetica Neue";
  flex-direction: column;
  background-color: #f7f7f7;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/HelveticaNeue.ttc);
}
/* previous page button & Labels like "თანამშრომლების ინფო" */
.previous-page-button {
  margin: 53px 0 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border: 1px transparent;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.previous-page-button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  color: #2e2e2e;
}
.employee-info-form {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 54px;
}
p {
  margin: 0;
}

p:first-of-type {
  margin: 0 66px 0 0;
  display: inline;
  border-bottom: 2px solid #000000;
}

/* employee form - name input, surname input, teams etc. */
.form-wrapper {
  margin-top: 27px;
  display: flex;
  justify-content: center;
}
.form {
  padding: 44px 174px 44px 174px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px transparent;

  background-color: #ffffff;
  line-height: 2;
}
.employee-name-input,
.employee-surname-input,
.employee-phoneNum-input,
.employee-email-input {
  display: flex;
  flex-direction: column;
}
.name-surname-wrapper {
  display: flex;
  justify-content: space-between;
}
label {
  font-size: 18px;
  font-weight: bold;
}
/* name & surname info inputs */
input {
  font-size: 21px;
  padding: 16px;
}
.info-input {
  box-sizing: border-box;
  width: 408px;
  height: 60px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
}
.error {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
/* selections - Teams and Positions */
.teams-selection {
  margin-top: 52px;
  display: flex;
  justify-content: center;
}
.positions-selection {
  margin-top: 52px;
  display: flex;
  justify-content: center;
}
.select-team-and-positions {
  width: 878px;
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 16px;
  -webkit-appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    #ddd no-repeat 98.5% !important;
}
/* email and phone number fields */

.email-phoneNumber-wrapper {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
}
.email-phoneNumber-info-input {
  width: 878px;
  box-sizing: border-box;
  height: 60px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
}
.employee-phoneNum-input {
  margin-top: 28px;
}
.next-button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.next-page-button {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px transparent;
  background: #62a1eb;
  border-radius: 8px;
  width: 176px;
  height: 60px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
}
.next-page-button:active {
  box-shadow: 0 2px #6cb4ee;
  transform: translateY(4px);
  cursor: pointer;
}

/* stylings for validation */
.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #09c352;
}
.input-control.error input {
  border-color: #ff3860;
}
.input-control.error {
  color: #ff3860;
  font-size: 15px;
}
